/* -----------
    fonts
------------ */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Open+Sans:wght@300;400&family=Poppins:wght@400;500&family=Roboto+Slab:wght@300&family=Roboto:wght@500&family=Twinkle+Star&family=Ubuntu&display=swap");

/* --------------
  utilitis style
-----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.brand-color {
    color: #3f87f5;
    text-decoration: none;
}
.package-tick {
    background-color: #edecf9;
    color: #5243c2;
}
.weeding-plus {
    color: #ffffff;
    background-color: #3f87f5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    background-image: url(/images/icons/watermark.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
    bottom: 90px;
    padding: 15px 15px;
}
.hot-badge {
    top: -20px;
    right: -240px;
}
